NODE_ENV=development
APP_PORT=3000
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=ligmadb
DB_PASSWORD=postgres123
DB_NAME=pic_scale

REDIS_HOST=localhost
REDIS_PORT=6379

S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123
S3_BUCKET=pic-scale
S3_REGION=eu-central-1

UPSCALER_URL=http://localhost:8000